<?xml version="1.0"?>
<!--
  组合 URDF：机械臂 + D435i 相机（eye-in-hand 安装）

  机械臂：dummy-ros2 (link6_1_1 为末端)
  相机：realsense2_description sensor_d435i，挂载在 link6_1_1 上
-->
<robot name="dummy_with_d435i"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 1. 机械臂 URDF（包含 world, base_link, link1_1_1 ... link6_1_1）-->
  <xacro:include filename="$(find dummy-ros2_description)/urdf/dummy-ros2.xacro"/>

  <!-- 2. D435i 相机，挂在机械臂末端 link6_1_1 上 -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
  <xacro:sensor_d435i parent="link6_1_1" name="camera" use_nominal_extrinsics="false">
    <origin xyz="0.00 -0.08 0.03" rpy="0 0 -1.5708" />
  </xacro:sensor_d435i>

</robot>